* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color:#3a3a3a
}

/* reuseable styles    -my bootstarap Akk */

.centerFlex-y{
  display: flex;
  justify-content: center;
  align-items: center;
}

.centerFlex-x{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.whiteIcon {
  color: #fff;
  padding-right: 7px;
}
.greyIcon {
  color: #aaa;
}

.yellowColor
{
  color: yellow;
}
.popinsFont4{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.popinsFont6{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

/* reuseable styles ends here */

#mainContainer {
  width: 100%;
  height: auto;
  padding-bottom: 20px;
}
#heroSection {
  width: 100%;
  height: 100vh;
  background-image: url("./assets/heroBg.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
}
#innerHeroSec {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  justify-content: space-between;
}
#headerTop {
  width: 90%;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid white;
}
.logoMain {
  width: 210px;
  height: 42px;
  background-image: url("./assets/thrillophiliaLogo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.makeRow {
  display: flex;
  flex-direction: row;
}
.headerTopText {
  height: 64px;
  color: #fff;
  font-size: 0.8rem;
  font-family: "Poppins", sans-serif;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerTopText P {
  color: #fff;
}

#headerTopRight {
  min-width: 20%;
  max-width: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
}

.headerTopText:hover {
  border-bottom: 3px solid tomato;
}
#headerMiddle {
  width: 70%;
  max-height: 95%;
  height: auto;
}
#heroFooter {
  width: 80%;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footItem {
  max-width: 25%;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 10px;
  cursor: pointer;
}
.iconBox {
  margin: 5px;
}
.footItemText p {
  color: #aaa;
  font-size: small;
  padding-left: 10px;
}

.footItem:hover .greyIcon,
.footItem:hover .footItemText > p {
  color: #fff;
}

#searchTabs{
  width: auto;
  height: 40px;
}

.searchTab{
  min-width: 100px;
  width: auto;
  padding:0 10px;
  height: 40px;
  background-color: rgba(67,67,67,0.82);
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.startingSearchTab{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-left: none;
}

.endingSearchTab{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-right: none;
}

.searchTab:hover{
  background-color: #ff5300;
  transition-delay: 0.2s;
}

#searchBarCointainer{
  width: 100%;
  height: auto;
  display: flex;
}

#searchBar {
  width: 90%;
  height: 50px;
  background-color: #fff;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow: hidden;
}

#searchIconBox
{
  width: 10%;
  height: 50px;
  background-color: #fff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#searchIconBox>i{
  color: #777;
}

.blackBg{
  width: 100%;
  height: 100%;
  position:absolute;
  background-color: #000;
  opacity: 0.4;
  z-index: -1;
}

 #staticText
 {
   font-size: 3rem;
   color: white;
   line-height: 1.2;
   font-family: 'Poppins', sans-serif;
   font-weight: 400;
   text-align: center;
 }

 #dynamicText
 {
   font-size: 5rem;
   color: white;
   line-height: 1.2;
   font-family: 'Poppins', sans-serif;
   font-weight: 600;
   text-align: center;
 }

 #searchInput{
   width: 100%;
   height: 100%;
   border: none;
   font-size: 20px;
   padding-left: 20px;
 }

#midTop{
  margin-bottom: 50px;
}

/* hero section ends here */
.contentCointainer{
  width: 70%;
  height: auto;
  margin: 0 auto;
  padding-left: 100px;
  padding: 50px 0;
  overflow: hidden;
}
/* best of rajasthan start */

.topline {
  font-family: 'Poppins', sans-serif;
  width:fit-content;
  color: #3a3a3a;
  max-width: 500px;
  margin: 10px auto;
}
.anim {
  background-color: none;
  width: 100%;
  height: auto;
  display: flex;
  justify-content:space-between;
  align-items:center;
  /* overflow:scroll; */
  scrollbar-width: none;
  padding: 10px;
}
.generalImageCard {
  height: 300px;
  /* max-width: 22%; */
  width: 100%;
  /* min-width: 200px; */
  text-align: center;
  font-size: 30px;
  border-radius: 10px;
  cursor: pointer;
}
.imgInCard {
  height: 100%;
  width: 100%; 
  border-radius: 10px;
  object-fit: cover;
}

.imgInCard:hover {
  height: 101%;
  width: 101%;
  border-radius: 5px;
}

.gicOuter{
  height: auto;
  /* max-width: 50%; */
  width: 300px;
  min-width: 22%;
  margin: 0 15px;
}

.gicBottom{
  width: 100%;
  height: 150px;
  padding: 5px;
}

.pckName{
  color: #3a3a3a;
  margin-bottom: 5px;
}

.pckRate{
  color: #777;
  font-size: 0.8rem;
}

/* best of rajasthan ends */

/* escape section  start*/

.sectionContainer{
  padding: 30px 30px;
  margin: 10px 0;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.longImageCard{
  height: 350px;
  width: 20%;
  text-align: center;
  font-size: 30px;
  border-radius: 10px;
  cursor: pointer;
}

.perfectEscapeBox{
  width: 35%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

#escapeText
 {
   font-size: 2rem;
   color: #3a3a3a;
   line-height: 1.2;
   font-family: 'Poppins', sans-serif;
   font-weight: 600;
   margin-bottom: 30px;
  }

 #escapeText2
 {
   color: #aaa;
   line-height: 1.2;
   font-family: 'Poppins', sans-serif;
   font-weight: 400;
 }

 .smallDivider{
   width: 100px;
   height: 2px;
   border:1px solid #ff5300;
   margin: 10px auto;
   margin-bottom: 30px;
 }

 /* escape section end */
 /* IMAGGE slider start*/

 .imgCointainer {
  width: 80%;
  margin: 50px auto;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  /* padding: 30px 30px; */
  height: auto;
  overflow: hidden;
}

.imgSlider{
  display: flex;
  width: 100%;
  height: 300px;
}

 /* IMAGGE slider ends */
